# SPDX-FileCopyrightText: NONE
#
# SPDX-License-Identifier: CC0-1.0

name: Licenses

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
    paths:
      - Cargo.lock
      - Cargo.toml
      - gen-third-party.sh
      - THIRD_PARTY

env:
  CARGO_TERM_COLOR: always
  RUSTFLAGS: "-Dwarnings"

jobs:
  license-audit:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - uses: EmbarkStudios/cargo-deny-action@v2
        with:
          command: check licenses
      - name: Install Cargo License
        run: cargo install --locked cargo-license
      - name: Check THIRD_PARTY
        run: |
          ./gen-third-party.sh
          git diff --exit-code THIRD_PARTY || {
            echo "::error file=THIRD_PARTY::File is out of date. Run ./gen-third-party.sh"
            exit 1
          }
