# SPDX-FileCopyrightText: NONE
#
# SPDX-License-Identifier: CC0-1.0

name: Reuse

on:
  pull_request:
    branches: ["main"]

jobs:
  license-audit:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v6
        with:
          python-version: "3.14"
      - name: Run Reuse
        run: pipx run reuse lint
